@tailwind base;
@tailwind components;
@tailwind utilities;

.color {
  color: #3b82f680;
}

@layer base {
}

@layer components {
  /*============================ Base ============================*/
  /*--------------- Dark & Light ----------------*/
  .bg-p {
    @apply bg-lbp dark:bg-dbp;
  }
  .bg-s {
    @apply bg-lbs dark:bg-dbs;
  }
  .bg-t {
    @apply bg-lbt dark:bg-dbt;
  }
  .bg-f {
    @apply bg-dfp dark:bg-lfp;
  }
  .bg-ac {
    @apply bg-accent dark:bg-daccent;
  }
  .text-p {
    @apply text-lfp dark:text-dfp;
  }
  .text-s {
    @apply text-lfs dark:text-dfs;
  }
  .text-t {
    @apply text-lft dark:text-dft;
  }

  /*--------------- Button ----------------*/
  .button1 {
    @apply font-bold text-sm text-gray-200 py-2
       flex justify-center items-center gap-2 rounded-xl shadow-lg w-full duration-300;
  }
  .button2 {
    @apply font-bold text-sm py-2 flex justify-center items-center gap-2 shadow-lg w-full duration-300
       bg-f hover:bg-lap dark:hover:bg-lfs text-black dark:text-gray-200 rounded-lg;
  }

  /*--------------- Input ----------------*/
  /*------- Accounting -------*/
  .accounting-input-div {
    @apply flex justify-between items-center bg-s rounded-xl shadow-lg border border-dft dark:border-lft focus:outline-4 hover:border-blue dark:hover:border-blue overflow-hidden duration-300;
  }
  .accounting-input-div input {
    @apply bg-s h-14 py-1 px-4 w-full text-p placeholder-lft dark:placeholder-dft outline-none;
  }
  .accounting-input-div svg {
    @apply text-p hover:scale-110 cursor-pointer duration-300 pr-3;
  }

  /*============================ Header ============================*/
  /*--------------- Crypto Info  ----------------*/
  .cyp-info-table {
    @apply w-full mt-2 overflow-x-scroll whitespace-nowrap scrollbar-hide;
  }
  .cyp-info-table li {
    @apply text-xs text-s font-semibold;
  }
  .cyp-info-table li a {
    @apply text-blue hover:text-lblue duration-300 mr-2;
  }

  .hidden-bar {
    @apply mb-6;
  }
  .hidden-bar li {
    @apply w-full py-3 border-b dark:border-das;
  }
  .hidden-bar li a {
    @apply flex justify-between items-center px-3 font-semibold hover:text-blue duration-300;
  }

  .hidden-sub-bar {
    @apply my-3;
  }
  .hidden-sub-bar li {
    @apply border-none text-sm font-normal;
  }
  .hidden-sub-bar li a {
    @apply flex justify-start items-center gap-3 hover:text-blue duration-300;
  }

  .hidden-bar-social {
    @apply flex justify-center items-center gap-5 text-2xl mx-auto text-s;
  }
  .hidden-bar-social li {
    @apply hover:text-blue duration-300;
  }

  .header-bar {
    @apply flex justify-center items-center gap-3;
  }
  .header-bar li {
    @apply font-bold text-p hover:text-t duration-300;
  }

  /*============================ Content ============================*/
  /*--------------- Coins Table  ----------------*/
  .coins-table {
    @apply w-full whitespace-nowrap;
  }
  .coins-table thead tr {
    @apply text-p font-extrabold border-t dark:border-lfp h-16;
  }
  .coins-table tbody {
    @apply text-s font-bold;
  }
  .coins-table tbody tr {
    @apply border-t dark:border-lfp h-24 hover:bg-lbt dark:hover:bg-dbt cursor-pointer duration-300;
  }
  .coins-table .t-right {
    @apply text-right;
  }
  .coins-table .t-center {
    @apply text-center px-1 md:px-3;
  }
  .coins-table .t-left {
    @apply text-left;
  }
  .coins-table .t-left div {
    @apply flex justify-start items-center gap-1 pl-1 md:pl-3;
  }

  /*============================ Coin Page ============================*/
  /*--------------- Coins Table  ----------------*/
  .map-top-var {
    @apply flex justify-start items-center gap-2 text-t text-sm font-bold;
  }
  .map-top-var a {
    @apply hover:underline;
  }
  .coin-info {
    @apply text-center sm:text-start;
  }
  .coin-info dt {
    @apply font-bold text-lg md:text-xl lg:font-extrabold lg:text-3xl text-p;
  }
  .coin-info dd {
    @apply font-bold text-lg md:text-xl lg:font-semibold lg:text-3xl text-s;
  }
}

/*=============== Syles ===============*/

body {
  font-family: "Inter", sans-serif;
}

/*=============== scrollbar style ===============*/

/* ::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background: var();
    border-radius: 20px;
    border: 3px solid;
}

.light-theme::-webkit-scrollbar-thumb {
    border-color: #;
}

.dark-theme::-webkit-scrollbar-thumb {
    border-color: #;
}

.light-theme::-webkit-scrollbar-track {
    background: #;
}

.dark-theme::-webkit-scrollbar-track {
    background: #;
} */

/*=============== End Base ===============*/
.hidden-nav {
  transition: 700ms cubic-bezier(1, 0, 0.3, 0.7);
}
