@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer components {
  /*============================ Base ============================*/
  /*--------------- Dark & Light ----------------*/
  .bg-p {
    @apply bg-lbp dark:bg-dbp;
  }
  .bg-s {
    @apply bg-lbs dark:bg-dbs;
  }
  .bg-ac {
    @apply bg-accent dark:bg-daccent;
  }
  .text-p {
    @apply text-lfp dark:text-dfp;
  }
  .text-s {
    @apply text-lfs dark:text-dfs;
  }
  .text-t {
    @apply text-lft dark:text-dft;
  }
}

/*=============== Syles ===============*/

body {
  font-family: "Inter", sans-serif;
}

/*=============== scrollbar style ===============*/

/* ::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background: var();
    border-radius: 20px;
    border: 3px solid;
}

.light-theme::-webkit-scrollbar-thumb {
    border-color: #;
}

.dark-theme::-webkit-scrollbar-thumb {
    border-color: #;
}

.light-theme::-webkit-scrollbar-track {
    background: #;
}

.dark-theme::-webkit-scrollbar-track {
    background: #;
} */

/*=============== End Base ===============*/
.hidden-nav {
  transition: 700ms cubic-bezier(1, 0, 0.3, 0.7);
}
